{% extends 'layouts/base.html' %}

{% block content %}
	<h1>La truffe noire du chien</h1>

	<h2>Les attributs d'un chien : {{posts|length}}</h2>
		{% for post in posts%}
			<h3> <a href="/truffe/posts/{{post.id}}">{{ post.title|upper }}</a></h3>
			<p>{{ post.body|truncatewords:5 }}</p>
			<p><a href="/truffe/posts/{{post.id}}">Lire la suite</a></p>
			<hr>
		{%endfor%}
	<h2>Dans la vie d'un chien</h2>
		{% for post2 in posts2%}
			<h3>{{ post2.title }}</h3>
			<p>{{ post2.body }}</p>
			<hr>
		{%empty%}
			<p>Sorry, wouf !</p>
		{%endfor%}

 {% endblock %}